ul{
list-style-type:none;
    font-size: 25px;
    padding-right: 10px;

}
body{
    background-color: rgb(195, 207, 16);
    text-align: center;
}
h1{
    text-align: center;
    font-size: 100px;
    color: white;
}
#first{
    text-align: center;
    font-size: 25px;
}
.add{
    font-size: 25px;
    color: white;
    background-color: green;
}
li{
    color: blue;
}
